<template>

    <div>


        <div>
            <label for="">Booking reservations</label>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Has Dinner Reservation?</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="booking in bookings">
                    <td>{{booking.user.name}}</td>
                    <td>{{booking.user.email}}</td>
                    <td>

                        <span v-show="booking.has_dinner_booked == 1">
                            Yes @ {{booking.dinner_time}}
                        </span>

                        <span v-show="booking.has_dinner_booked == 0">
                            None
                        </span>


                    </td>
                    <td>
                        <a href="#" @click="bookInOut(booking)">
                            <span v-show="booking.is_booked == 0">
                                Book in the customer
                            </span>

                            <span v-show="booking.is_booked == 1">
                                Book out the customer
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>


</template>

<script>

    import {EventBus} from './../../services/eventBus'
    import Datepicker from 'vuejs-datepicker';
    import Swal from 'sweetalert2'

    export default {


        /*
        * Get hotel bookings on load
        * */
        async mounted() {
            await this.getBookings();
        },

        components: {
            Datepicker, Swal
        },

        data() {
            return {


                //Contains bookings currently in system
                bookings: []

            }
        },

        methods: {

            /*
            * Get bookings
            * */
            async getBookings() {
                const bookings = await this.$api.getBookings();

                this.bookings = bookings.returnData;
            },


            /*
            * Make booking as is_booked = 0 or 1
            * */
            async bookInOut(booking) {

                const d = {
                    id: booking.id,
                    is_booked: booking.is_booked
                }

                const response = await this.$api.toggleIsBookedCustomer(d);

                if (response.success) {
                    Swal.fire('Success!', 'You have successfully booked your reservation', 'success');
                    await this.getBookings();
                }
            }


        }
    }
</script>