<template>

    <div>

        <div>

            <label for="">
                Type of room
            </label>

        </div>

            <select v-model="form.roomType" @change="getAvailableRooms(form.roomType)">
                <option v-for="roomType in roomTypes" :value="roomType.id">
                    {{roomType.type}}
                </option>
            </select>

        <div v-show="form.roomType != 0">

            <label for="">
                Available rooms
            </label>

            <select v-model="form.selectedRoom">
                <option v-for="room in availableRooms" :value="room.id">
                    Room number: {{room.room_number}}

<!--                    <span v-show="room.hasGolfView == 1">-->
<!--                        - has golf view-->
<!--                    </span>-->

<!--                    <span v-show="parseInt(room.hasGolfView) == 0">-->
<!--                        - no golf view-->
<!--                    </span>-->
                </option>
            </select>



        </div>

        <div v-show="form.selectedRoom != 0">

            <input type="checkbox" v-model="form.hasDinner">Book dinner

            <br>

            <br>
            <label for="">Dinner time:</label>
            <datepicker format="MMMM d, yyyy"
                        v-model="form.dinnerTime"
                        calendar-button-icon="fa fa-calendar"
                        :calendar-button="false"
                        :disabled=" form.hasDinner == 0"/>


            <br>
            <br>
            <div>
                <button @click="bookReservation" class="btn btn-default">Book this reservation</button>
            </div>
        </div>



    </div>


</template>

<script>

    import {EventBus} from './../../services/eventBus'
    import Datepicker from 'vuejs-datepicker';
    import Swal from 'sweetalert2'

    export default {


        /*
        * Call room types on load
        * */
        async mounted() {
            const data = await this.$api.getRoomTypes();
            this.roomTypes =  data.returnData;
        },

        //Usable components within the file
        components: {
            Datepicker, Swal
        },

        data() {
            return {

                //Container of available room types
                roomTypes: [],

                //Record of available rooms
                availableRooms: [],

                //Contains form selected by user
                form: {
                    roomType: 0,
                    selectedRoom: 0,
                    hasDinner: 0
                }

            }
        },

        methods: {

            /*
            * Assign available rooms in database
            * */
            async getAvailableRooms(roomTypeId) {


                if(typeof roomTypeId !== 'undefined' ){

                    const availableRooms =  await this.$api.getAvailableRooms(roomTypeId);

                    this.availableRooms = availableRooms.returnData;

                    if (this.availableRooms.length == 0){
                        Swal.fire('No available rooms!',
                            'Please select another room type', 'warning')
                    }

                }

            },

            /*
            * Insert reservation to database
            * */
            async bookReservation() {

                const d = {
                    'room_id' : this.form.selectedRoom,
                    'has_dinner_booked' : this.form.hasDinner,
                    'dinner_time' : this.form.dinnerTime,
                }

                const response = await this.$api.bookReservation(d);

                if (response.success){
                    Swal.fire('Success!', 'You have successfully booked your reservation', 'success')
                        .then(() => {
                            window.location.reload();
                        });
                }

            },



        }
    }
</script>